<!--<h1>Hello, {{ user.name }}. This is project Melania. Welcome to the matrix</h1>-->
<!--<div id="grid" class="backgrid-container"></div>-->

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-text">Hello, {{ user.name }}.
                      <br>This is project Melania. Welcome to the matrix.
                </div>
            </div>
        </div>
    </div>
</header>