<div id="add-message">
    <form>
        <!--<label for="message">Message</label>-->
        <input type="text" name="message" id="message" placeholder="search" />
        <input type="submit" value="Search">
    </form>
</div>
<ul id="todos"></ul>

