
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="page-header">Search</h2>
                    <div id="container"></div>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- data template -->
<script type="text-template" id="myTemplate">
    <td><%= id %> </td>
    <td><%= apsudzetais %> </td>
    <td><%=  laiks %> </td>
</script>