

<!-- About Section -->
<!--<section id="about" class="container content-section text-center">-->
    <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--<div class="col-lg-8 col-lg-offset-2">-->
            <!--<h2 class="page-header">Search</h2>-->
            <!--&lt;!&ndash;<div id="container">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type='post' class='form-control' type='text' id='search' autofocus/>&ndash;&gt;-->
                <!--&lt;!&ndash;<button id='add'>Search</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <div id="container" class="container">
        <input type='post' class='form-control' type='text' id='search' autofocus/>
        <button id='add'>Search</button>
    </div>
    <!--</div>-->
<!--</section>-->



<!-- data template -->
<script type="text-template" id="myTemplate">
    <td><%= id %> </td>
    <td><%= apsudzetais %> </td>
    <td><%=  laiks %> </td>
</script>